@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFProDisplay-Regular.woff2');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 500;
  src: url('/fonts/SFProDisplay-Bold.woff2');
}
